 body{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(235, 225, 225);
    color: rgb(17, 16, 16);
    text-align: center;


}